html,
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/* .app-container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  width: 100vw;
  height: 100vw;
} */

/* .events-container {
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  width: 50%;
  height: 60%;
} */

/* .event-container {
  display: flex;
  width: 90%;
  height: 3vw;
} */

input {
  margin-left: 5px;
}

.event-container p {
  width: 90vw;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  justify-content: space-evenly;
  align-content: center;
}
